* {
    margin: 0;
    padding: 0;
    box-sizing: border-box:
}
body {
    background: #C4C4C4;


}

header {
    height: 54px;

    background: #EB5757;
    position: relative;
    margin: 0px;
}

nav {
    height: 374px;
    background: #FFFEFE;
    position: absolute;
    width: 270px;
    padding: 20px;
    margin: 0px;
    right:-500px;
}




main{
    overflow: hidden;
    position:relative;
    height: 573px;
    background: #F2C94C;

}
.hamburger
{
    height:50px;
    width:50px;
    background:#fff;
    border:1px solid #333;
    float:right;
}

footer{
     height:397px;

     background:#F2994A;
     margin: 0px 0px 60px;
}
